require("@nomiclabs/hardhat-ethers");
require("hardhat-sourcify");
require("hardhat-iard-analyzer");
require("hardhat-solidity-scan");

module.exports = {
  solidity: "0.8.20",
  defaultNetwork: "localhost",
  networks: {
    localhost: {
      url: "http://127.0.0.1:8545"
    },
    op_sepolia: {
      url: "https://sepolia.optimism.io",
      accounts: ["0x...PRIVATE_KEY"]
    },
    optimism: {
      url: "https://mainnet.optimism.io",
      accounts: ["0x...PRIVATE_KEY"]
    },
    buildbear: {
      url: "https://rpc.buildbear.io/unfortunate-nickfury-a4e1cf72",
      accounts: ["0x...PRIVATE_KEY"]
    }
  },
  sourcify: {},
  iardAnalyzer: {},
  solidityScan: {}
};
